@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



html {

  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 .footer {
  position:relative;
  left:0;
  bottom:0;
  right:0;
  
} 
.footer div{
  text-align: center;
}
a{
  text-decoration: none;
  border-radius: 5px;
}
a:hover{
  background-color:rgba(13, 224, 224, 0.2);
}
button:hover{
  background-color:rgba(52, 226, 36, 0.1);
}

.root{
  height : 100%;
}


.myName{
  font-family: 'Anton', sans-serif;

}
.col-md-4{margin-top: 8px;}

.slide1{
   background-image: url('./personal-portfolio.jpg');
}
.slide2{
  background-image: url('./outOfFocusBackground.jpg');
}
.slide2 h5{
  
}
.slide3{
  background-image: url('./react.jpg');
}