@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Anton", sans-serif;
  overflow-x: hidden;
}

.nav-container {
  margin-right: 0px;
}
.navbar {
  margin-top: 0;
}

a.nav-link {
  margin-left: 10px;
}

.navbar-links {
  /* margin:0vh 2vh; */
  font-family: "Anton", sans-serif;
}
.nav-link:hover,
.myName:hover {
  background-color: rgb(214, 127, 46);
}

.body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */

  background-image: url("./images/body-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main {
  margin-right: 0px;
}

.body-footer-spacer {
  min-height: 10vh;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}
.footer div {
  text-align: center;
  background-color: darkgray;
}
a {
  text-decoration: none;
  border-radius: 5px;
}
.nav-item > a:hover {
  background-color: rgba(13, 224, 224, 0.2);
}

.nav-item .navbar-toggler-icon {
  margin-right: 10px;
}

button:hover {
  background-color: rgba(52, 226, 36, 0.1);
}

.root {
  height: 100%;
}

.myName {
  padding: 4px;
  margin: 0px 10px;
  font-family: "Anton", sans-serif;
}

.slide1 {
  background-image: url("./images/personal-portfolio.jpg");
}
.slide2 {
  background-image: url("");
}

.slide3 {
  background-image: url("./images/react.jpg");
}
.slide4 {
  background-image: url("./images/second-slide-image.jpg");
}
.links {
  padding: 9px 50px;
}
.cards-title {
  font-family: "Anton", sans-serif;
}

.cards-skill {
  background-color: rgba(204, 204, 204, 0.8);
  border: 2px;
  border-style: ridge;
  margin: 5px 5px;
  border-radius: 10px;
  height: 12vh;
  width: 12vw;
}
.cards-experience {
  background-color: rgba(204, 204, 204, 0.8);
  border: 2px;
  border-style: ridge;
  margin: 5px 5px;
  border-radius: 10px;
}
.cards-skill:hover {
  background-color: rgba(13, 224, 224, 0.2);
}
.skills-div {
  margin: 10px 0px;
  padding: 0 0 0 2vw;
  border-radius: 10px;
  max-height: 30rem;
  width: 35vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
.widget-large-skill > .each-Widget > .cards-skill {
  margin-top: 8px;
  width: 60vw;
  height: 30rem;
  background-color: rgba(204, 204, 204, 0.8);
}
.widget-large-skill {
  max-height: 20vh;
  max-width: 30vw;
}

.widget > div {
  background-color: rgba(229, 233, 233, 0);
}
.widget-half-div {
  background-color: rgba(229, 233, 233, 0);
  margin: auto -5px;
  min-height: 20vh;
}
.each-Widget {
}

.experiences-div {
  border-radius: 10px;
  padding-left: 2vw;
  max-height: 40vh;
  width: 98vw;
  overflow-y: scroll;
}

.h3 {
  margin: 2rem 0rem;
}
.widget > h3 {
  margin: 2rem 0rem;
  border-radius: 5px;
  height: 2.5rem;
  font-family: "Anton", sans-serif;
  color: white;

  text-align: center;

  background-image: url("./images/main-grey-background.svg");
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
  border-radius: 100vw;
  margin-block: 0.2em;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(87, 84, 84);
  border-radius: 100vw;
}

.summery {
  background-color: white;
  border-radius: 10px;
  word-break: break-all;
}
.summery-text {
  margin-top: 10px;
}
.body-row {
  margin: 0;
  padding: 0px;
  padding-left: 0;
  margin-right: 1vw;
  /* this is needed for alignemnt */
}
.side-body-left {
  background-image: url("./images/body-left.svg");
  background-size: contain;
  visibility: hidden;
}
.side-body-right {
  background-image: url("./images/body-right.svg");
  background-size: contain;
  visibility: hidden;
}
.AboutMe {
  margin-left: 3px;
  padding: 10px;
}

@media (max-width: 600px) {
  .widget-large-skill {
    height: 15vh;
  }
  .widget-large-skill > .each-Widget > .cards-skill {
    max-height: 45vh;
    max-width: 60vw;
  }

  .cards-skill {
    margin: 5px 10px;
    border-radius: 10px;
    height: 7vh;
    width: 12vw;
  }
}
